.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    color: white;  

  }

.searchbar-searchpage {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: left;
    flex-direction: column;
    color: gradaday;  

  }  
.search {
    width: 30%;
    background:white; 
    opacity: 0.75;

  }

.left-pane-search {
    /* display: flex; */
    /* height: 100vh; */
    /* width: 100%; */
    flex-direction: column;
    row-gap: 10px;
    color: gray; 
    border-style: groove;     
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
  }

  .card {
    /* display: flex;
    height: 100vh;
    width: 50%;
    align-items: left;
    flex-direction: column;
    row-gap: 20px;
    color: white;  */
    align-items: right;
    width: 80%;
    border-style: groove; 
    margin-left: auto; 
    margin-right: 0;  
    margin-bottom: 2%;
  }
  .cardimg {
    /* display: flex;
    height: 100vh;
    width: 50%;
    align-items: left;
    flex-direction: column;
    row-gap: 20px;
    color: white;  */
    width: 100%;
    border-style: groove;     
  }

  .cardimg-popup {
    /* display: flex;
    height: 100vh;
    width: 50%;
    align-items: left;
    flex-direction: column;
    row-gap: 20px;
    color: white;  */
    width: 60%;
    height: 50%;
    border-style: groove;     
    
  }


.right-pane-search {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: right;
    flex-direction: column;
    row-gap: 20px;
    /* color: white;
    border-style: groove;       */
  }

.row{
  display: flex;
}
.row div {
  flex-basis: 50%;
  display: inline-block;
}
.google-map {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  color: white;  

}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
}